fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
psycopg[binary]==3.2.1
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
faker==28.4.1
pgvector==0.3.5
numpy==2.1.1
python-multipart==0.0.9
email-validator==2.2.0